@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$font-family-sans-serif: 'Lato-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

$background-color: #2f3245;
$dark-gray: #2f3245;
$halloweenorange: #f7793d;
$facebookblue: #3b5998;

$brand-primary: $halloweenorange;
$state-info-bg: $halloweenorange;
$state-info-text: white;
$body-bg: $background-color;
$text-color: $dark-gray;

$border-radius-base:        2px;

// --------------Bootstrap-----------------------------
@import 'bootstrap-sprockets';
@import 'bootstrap';

.blackbottom {
  background: black;
  position: absolute;
  top: 650px;
  bottom: 0;
  right: 0;
  left: 0;
}
// This is used by the devise generated views.
.center-panel {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;

  margin-top: 5em;

  h1 {
    text-indent: -99999px;
    margin: 20px;
    padding: 0;
    background-image: url("BOO2x.png");
    background-size: 205px 102px;
    height: 125px;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.welcome {
  .crush_pane {
    display: none;
  }

  p {
    text-transform: uppercase;
    width: 230px;
    margin: auto;
    text-align: center;

    span {
      font-weight: 700;
    }
  }

  .signin {
    padding-top: 250px;
    background-image: image-url( 'art_intro_pumpkin2x.png' );
    background-size: 190px 198px;
    background-repeat: no-repeat;
    background-position: center;

    .btn {
      @include box-shadow( inset -2px -2px 2px rgba(0, 0, 0, 0.3) );
      border: none;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
      padding-left: 45px;

      &::before {
        background-image: image-url( 'btn_icon_instagram2x.png');
        background-size: 19px 19px;
        height: 19px;
        width: 19px;
        position: absolute;
        content: '';
        margin-left: -23px;
      }
    }
  }
}

.crushes {
  .center-panel {
    margin-top: 0px;
    .panel-body {
      padding-top: 185px;
      background-image: image-url( 'logo_my_boo2x.png' );
      background-size: 142px 165px;
      background-repeat: no-repeat;
      background-position: center top;      
      a {
        pointer-events: none;
        cursor: default;
      }
    }

    p {
      text-align: center;
    }

    .stats {
      margin: auto;
      max-width: 270px;
      padding-top: 2em;
      padding-bottom: 3em;
    }
  }
}

.btn {
  text-transform: uppercase;
  padding: .75em 2em;
}

.simple_nav {
  text-align: right;
  padding-top: .5em;
  .btn-warning {
    color: white;
    background-color: transparent; // $background-color;
    border: none;
    font-size: 11px;
    font-family: 700;
    letter-spacing: 2px;
    @include box-shadow( 1px 1px 2px rgba(0, 0, 0, 0.3) );
  }

}

.crush_pane {
  text-align: center;

  div {
    display: inline;
  }
  .person {
    img {
      border-radius: 100%;
      border: 2px solid gray;
      max-height: 150px;
    }
  }

  .heart {
    margin-left: -40px;
    margin-right: -40px;
    span {
      postion: relative;
      top: 30px;
      color: rgb( 230, 0, 0);
      font-size: 75px;
    }
  }    

  @include clearfix;
}

.share {
  text-align: center;
  padding-bottom: 1em;

  .btn.facebook {
    background-color: $facebookblue;
    color: white;
    @include box-shadow( inset -2px -2px 2px rgba(0, 0, 0, 0.3) );
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 45px;
      
    &::before {
      background-image: image-url( 'btn_icon_facebook2x.png');
      background-size: 9px 19px;
      height: 19px;
      width: 9px;
      position: absolute;
      content: '';
      margin-left: -23px;
    }
  }

  .btn.instagram {
    background: $brand-primary;
    color: white;
    @include box-shadow( inset -2px -2px 2px rgba(0, 0, 0, 0.3) );
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 45px;

    &::before {
      background-image: image-url( 'btn_icon_instagram2x.png');
      background-size: 19px 19px;
      height: 19px;
      width: 19px;
      position: absolute;
      content: '';
      margin-left: -23px;
      // content: "hi there"
    }
  }

}

.panel {
  background-color: transparent;
  border: none;
  box-shadow: none;

  .panel-heading {
    display: none;
  }
}


.layout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index:-1;

  .ted {
    width: 1192px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -298px;
    img {
      height: 592px; // 1184px / 2;
      width: 596px; // 1192px / 2;
    }
  }

  .foreground {
    width: 1200;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600px;

    img {
      height: 727px;
      width: 1200px;
    }
  }
}

.grass {
  background-image: image-url( 'bkg_grass2x.png' );
  background-repeat: repeat-x;
  background-size: 100px 161px;
  height: 161px;
  position: absolute;
  top: 550px;
  right: 0;
  left: 0;
}

.crush_pane {
  text-align: center;

  div {
    display: inline;
  }
  .person {
    img {
      border-radius: 100%;
      border: 2px solid gray;
      max-height: 125px;
      max-width: 125px;
    }
  }

  .heart {
    margin-left: -40px;
    margin-right: -40px;
    span {
      postion: relative;
      top: 30px;
      color: rgb( 230, 0, 0);
      font-size: 75px;
    }
  }    

  @include clearfix;
}

.level_1 { z-index: 1; }
.level_2 { z-index: 2; }
.level_3 { z-index: 3; }
.level_4 { z-index: 4; position: relative; }

#flash {
  position: relative;
  z-index: 4;
}

footer {
  text-align: center;
  color: rgba( 255, 255, 255, .5 );
  padding-top: 2em;

  .small_header {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
  }

  .hfc_logo img {
    width: 166px;
    height: 38px;
  }
}