@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$font-family-sans-serif: 'Lato-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

$green: rgb( 132, 152, 118 );
$red: rgb( 222, 36, 36);


$background-color: #2f3245;
$dark-gray: #2f3245;
$halloweenorange: #f7793d;
$facebookblue: #3b5998;

$brand-primary: $red;
$state-info-bg: $red;
$state-info-text: white;
$body-bg: $green;
$text-color: $dark-gray;

$smaller_screen_scale: 0.8;

$border-radius-base: 2px;

// --------------Bootstrap-----------------------------
@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
  background: asset-url( 'valentines/BG_green_2x.png' );
  background-size: (1536px/2) (1004px/2);
}

$scene-height: 750px;

.lighter {
  // background-color: white;
  background-image: asset-url( 'valentines/BG_2x.png' );
  background-size: (2800px/2) (1500px/2);
  background-position: center top;
  // background-size: cover;

  height: $scene-height;
  position: absolute;
  top:0;
  left:0;
  right:0;
  // top: 0;
  // left: 0;
  // right: 0;

  .tree {
    display: none;
    position: absolute;
    overflow: hidden;

    top: 130px;

    img {
      width: (936px/2);
      height: (1086px/2);
    }

    // xs - sm
    // hidden

    // sm-md
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: block;
      left: -130px;
      img {
        width: (936px/3);
        height: (1086px/3);
      }
    }


    // md-lg
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      display: block;
      left: -130px;
    }

    // lg and up
    @media (min-width: $screen-lg-min) {
      display: block;
      left: -50px;
    }
  }
}
.content {
  position: relative;
  // top: -$scene-height;
}
.blackbottom {
  background: black;
  position: absolute;
  top: 650px;
  bottom: 0;
  right: 0;
  left: 0;
}
// This is used by the devise generated views.
.center-panel {
  @extend .col-sm-6;
  @extend .col-sm-offset-3;

  margin-top: 5em;

  h1 {
    text-indent: -99999px;
    margin: 0px;
    padding: 0;
    background-image: image-url("valentines/Valentines_boo_logo_2x.png");
    background-size: (632px/2) (274px/2);
    height: (274px/2);
    background-repeat: no-repeat;
    background-position: center top;

    // @media (max-width: $screen-sm-min) {
    //   background-size: 205px*$smaller_screen_scale 102px*$smaller_screen_scale;
    //   height: 125px * $smaller_screen_scale;
    // }
  }
}

.welcome {
  .crush_pane {
    display: none;
  }

  .center-panel p {
    text-transform: uppercase;
    width: 230px;
    margin: auto;
    text-align: center;
    color: white;

    span {
      font-weight: 700;
    }
  }

  .signin {
    padding-top: 250px;
    background-image: image-url( 'valentines/art_ted_2x.png' );
    background-size: (622px/2) (488px/2);
    background-repeat: no-repeat;
    background-position: center top;
    margin-top: 2em;

    @media (max-width: $screen-sm-min ) {
      padding-top: 180px;
      margin-top: 2em;
      background-size: (622px/2*$smaller_screen_scale) (488px/2*$smaller_screen_scale);
    }


    .btn {
      @include box-shadow( inset -2px -2px 2px rgba(0, 0, 0, 0.3) );
      border: none;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      padding-left: 45px;
      background: white;
      color: black;

      &::before {
        background-image: image-url( 'valentines/BTN_Instagram_2x_copy.png');
        background-size: 19px 19px;
        height: 19px;
        width: 19px;
        position: absolute;
        content: '';
        margin-left: -23px;
      }
    }
  }
}

.crushes {
  .center-panel {
    margin-top: 0px;
    .panel-body {
      // padding-top: 185px;
      // background-image: image-url( 'logo_my_boo2x.png' );
      // background-size: 142px 165px;
      // background-repeat: no-repeat;
      // background-position: center top;

      @media (max-width: $screen-sm-min) {
        padding-top: 185px*$smaller_screen_scale;

        background-size: 142px*$smaller_screen_scale 165px*$smaller_screen_scale;
      }

      a {
        pointer-events: none;
        cursor: default;
      }
    }

    p {
      text-align: center;
    }

    .stats {
      margin: auto;
      max-width: 270px;
      padding-top: 2em;
      padding-bottom: 3em;
      color: white;
      text-align: center;
      code {
        background: transparent;
        color: white;
        border: none;
        font-family: $font-family-sans-serif;
        font-weight: bold;
        padding: 0;
        a {
          color: white;
        }
      }
    }
  }
}

.btn {
  text-transform: uppercase;
  padding: .75em 2em;
}

.simple_nav {
  text-align: right;
  padding-top: .5em;
  z-index: 5;
  .btn-warning {
    color: black;
    background-color: white; // $background-color;
    border: none;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    @include box-shadow( 1px 1px 2px rgba(0, 0, 0, 0.3) );
  }

}

.crush_pane {
  text-align: center;

  div {
    display: inline;
  }
  .person {
    img {
      border-radius: 100%;
      border: 3px solid white;
      max-height: 150px;
    }
  }

  .heart {
    margin-left: -40px;
    margin-right: -40px;
    span {
      postion: relative;
      top: 30px;
      color: rgb( 230, 0, 0);
      font-size: 75px;
    }
  }    

  @include clearfix;
}

.share {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 1em;

  .btn.facebook {
    background-color: $facebookblue;
    color: white;
    @include box-shadow( inset -2px -2px 2px rgba(0, 0, 0, 0.3) );
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 45px;
      
    &::before {
      background-image: image-url( 'btn_icon_facebook2x.png');
      background-size: 9px 19px;
      height: 19px;
      width: 9px;
      position: absolute;
      content: '';
      margin-left: -23px;
    }
  }

  .btn.instagram {
    background: $brand-primary;
    color: white;
    @include box-shadow( inset -2px -2px 2px rgba(0, 0, 0, 0.3) );
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 45px;

    &::before {
      background-image: image-url( 'btn_icon_instagram2x.png');
      background-size: 19px 19px;
      height: 19px;
      width: 19px;
      position: absolute;
      content: '';
      margin-left: -23px;
      // content: "hi there"
    }
  }

}

.panel {
  background-color: transparent;
  border: none;
  box-shadow: none;

  .panel-heading {
    display: none;
  }
}


.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index:-1;

  .ted {
    width: 1192px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -298px;
    img {
      height: 592px; // 1184px / 2;
      width: 596px; // 1192px / 2;
    }

    @media (max-width: $screen-sm-min ) {
      width: 1192px * $smaller_screen_scale;
      margin-left: -298px * $smaller_screen_scale;

      img {
        height: 592px * $smaller_screen_scale;
        width: 596px * $smaller_screen_scale;
      }
    }
  }

  .foreground {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -600px;

    img {
      height: 727px;
      width: 1200px;
    }

    @media (max-width: $screen-sm-min ) {
      top: 50px;
      width: 1200px * $smaller_screen_scale;
      margin-left: -600px * $smaller_screen_scale;

      img {
        height: 727px * $smaller_screen_scale;
        width: 1200px * $smaller_screen_scale;
      }
    }
  }
}

.grass {
  background-image: image-url( 'bkg_grass2x.png' );
  background-repeat: repeat-x;
  background-size: 100px 161px;
  height: 161px;
  position: absolute;
  top: 550px;
  right: 0;
  left: 0;
}

.crush_pane {
  text-align: center;

  div {
    display: inline;
  }
  .person {
    img {
      border-radius: 100%;
      border: 3px solid white;
      max-height: 125px;
      max-width: 125px;
    }
  }

  .heart {
    margin-left: -30px;
    margin-right: -30px;
    span {
      background-image: asset-url( 'valentines/icon_crush_2x.png' );
      background-size: (84px/2) (84px/2);
      display: inline-block;
      postion: relative;
      top: 50px;
      height: (84px/2);
      width: (84px/2);
      text-indent: -9999px;
      // color: rgb( 230, 0, 0);
      // font-size: 75px;
    }
  }    

  @include clearfix;
}

.level_1 { z-index: 1; }
.level_2 { z-index: 2; }
.level_3 { z-index: 3; }
.level_4 { z-index: 4; position: relative; }
.level_5 { z-index: 5; }

#flash {
  display: none;
  // position: relative;
  z-index: 4;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 175px;
}

.welcome .mailing {
  display: none;
}

.footer {
  text-align: center;
  color: rgba( 255, 255, 255, .5 );
  padding-top: 2em;

  .small_header {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
  }

  .hfc_logo img {
    width: 166px;
    height: 38px;
  }
}

#people {
  @extend .row;

  .face {
    @extend .col-xs-6;
    @extend .col-sm-3;
    text-align: center;

    img {
      border-radius: 100%;
      @extend .img-responsive;
    }
  }
}

.mailing {
  display: none;
  h2 {
    background-image: image-url("icon_cauldron2x.png");
    background-size: 43px 50px; //205px 102px;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 80px;
  }
  .btn {
    padding: 6px 12px;
  }


}