---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=this_is_wrong
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="this_is_wrong"
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"error_type":"OAuthParameterException","code":400,"error_message":"The
        client_id provided is invalid and does not match a valid application."}}'
  recorded_at: Wed, 21 Oct 2015 14:32:11 GMT
recorded_with: VCR 2.9.3
