---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=509161.38c3f84.7d662d3ec84347f99b9574ef10168de1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.7d662d3ec84347f99b9574ef10168de1"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"wschenk","bio":"","website":"http:\/\/willschenk.com","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","full_name":"Will
        Schenk","counts":{"media":678,"followed_by":190,"follows":238},"id":"509161"}}'
  recorded_at: Fri, 16 Oct 2015 14:57:18 GMT
recorded_with: VCR 2.9.3
