---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self.json?access_token=509161.38c3f84.7d662d3ec84347f99b9574ef10168de1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.7d662d3ec84347f99b9574ef10168de1"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4994'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"code":200},"data":{"username":"wschenk","bio":"","website":"http:\/\/willschenk.com","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","full_name":"Will
        Schenk","counts":{"media":678,"followed_by":190,"follows":238},"id":"509161"}}'
  recorded_at: Fri, 16 Oct 2015 19:41:46 GMT
[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/self/media/recent.json?access_token=509161.38c3f84.7d662d3ec84347f99b9574ef10168de1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="509161.38c3f84.7d662d3ec84347f99b9574ef10168de1"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4992'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/509161\/media\/recent?access_token=509161.38c3f84.7d662d3ec84347f99b9574ef10168de1\u0026max_id=999574376162592962_509161","next_max_id":"999574376162592962_509161"},"meta":{"code":200},"data":[{"attribution":null,"videos":{"low_bandwidth":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t50.2886-16\/12142820_173187186355504_737122116_s.mp4","width":480,"height":480},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t50.2886-16\/12078374_393129877543277_2058319508_n.mp4","width":640,"height":640},"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t50.2886-16\/12142820_173187186355504_737122116_s.mp4","width":480,"height":480}},"tags":[],"type":"video","location":null,"comments":{"count":1,"data":[{"created_time":"1444694928","text":"I''m
        back \ud83d\udc4b\ud83c\udffc (I''m assuming that''s a waving hand.)","from":{"username":"mariaselkephillips","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/s150x150\/11821111_912451098821539_550842321_a.jpg","id":"342170946","full_name":""},"id":"1094502844695907170"}]},"filter":"Slumber","created_time":"1444686907","link":"https:\/\/instagram.com\/p\/8wN1eZQQke\/","likes":{"count":12,"data":[{"username":"jothamwb","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11887048_849043215181429_1133387827_a.jpg","id":"6678555","full_name":"jothamwb"},{"username":"fox_mulder","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11312135_1649357518629852_1263300749_a.jpg","id":"34871643","full_name":""},{"username":"abkerr","profile_picture":"http:\/\/photos-e.ak.instagram.com\/hphotos-ak-xfa1\/t51.2885-19\/11887097_136994796640524_488471680_a.jpg","id":"9743780","full_name":"Andrea
        Shulski"},{"username":"sassy44a","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-19\/11424689_1648989472002327_2147279009_a.jpg","id":"32729439","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e15\/12081263_1074441512566901_553589890_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/12081263_1074441512566901_553589890_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/12081263_1074441512566901_553589890_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1444686907","text":"Slow
        mo action shot","from":{"username":"wschenk","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","id":"509161","full_name":"Will
        Schenk"},"id":"1094435605103839312"},"user_has_liked":false,"id":"1094435558823889182_509161","user":{"username":"wschenk","profile_picture":"http:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11374591_955491831180543_1527410442_a.jpg","id":"509161","full_name":"Will
        Schenk"}},{"attribution":null,"tags":[],"type":"image","location":null,"comments":{"count":2,"data":[{"created_time":"1444494655","text":"What
        are you having done ? I think you should dip it ;-)","from":{"username":"bradmreisner","profile_picture":"http:\/\/photos-f.ak.instagram.com\/hphotos-ak-xaf1\/t51[...]
